*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.search {
  display: flex;
  margin-top: 10px;
  align-items: center;
  margin-bottom: 30px;
}
.search__text{
  margin-right: 20px;
}
.search__input{
  margin-right: 20px;
}
.table {
  border-collapse: collapse;
  border: 1px solid #000;
}
th img {
  vertical-align: middle;
}
td {
  border: 1px solid #000;
  padding: 10px;
}
.table__th{
  text-align: left;
  padding: 10px;
  border-right: 1px solid #000;
}
.table__code {
  min-width: 80px;
}
.table__flag-img{
  max-width: 150px;
}
.table__name{
  min-width: 200px;
}

img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
