.container
  &__custom
    padding: 20px 0

.form
  margin-bottom: 20px
.country
  &__title
    &-custom
      padding: 8px
      margin-bottom: 20px
      background: #60767a
      color: #fff
  &__text
    display: inline-block
    margin-bottom: 20px
  &__border
    display: flex
    justify-content: space-between
    align-items: center
    padding: 5px 15px
    background: #d8d4d4
    margin-bottom: 15px
  &__flag
    max-width: 50px
